.idea
dataset/audio
audio
kill.sh
bad_urls.txt
.ipynb_checkpoints
.DS_Store
.gitignore
model/sound-separation/datasets/recordings/*
model/sound-separation/datasets/separated_recordings/*
model/sound-separation/datasets/test_recordings/*
models/bird_mixit/bird_mixit_model_checkpoints
preprocessing/scripts/*.ipynb
